# Bytecode de Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Entornos virtuales
.venv/
env/
venv/
*.env

# Archivos de configuración locales
*.log
*.DS_Store
*.swp
*.swo

# Archivos y carpetas ocultas del sistema
Thumbs.db
ehthumbs.db
Icon?
.DS_Store

# Archivos de pruebas
.coverage
htmlcov/
.tox/
.nox/
.pytest_cache/

# Archivos de profiling si los generas
*.prof

# Carpetas de datos si contienen temporales o datos sensibles
data/raw/
data/tmp/
data/interim/
*.sqlite3

# Archivos específicos del IDE
.vscode/
.idea/

# Docker y otros build artifacts
*.tar
*.gz
*.egg-info/
dist/
build/

# Jupyter Notebooks checkpoints
.ipynb_checkpoints/

# Archivos exportados
*.csv
*.tsv
*.parquet
*.json
*.xlsx


secrets.yaml
config.yaml
